# Desafio Semana 3

#### Conhecendo melhor nossa base de consumidores: qual estado possui os clientes com melhores pontuações de crédito?


> Objetivo:<br />
 Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. 
Para realizar a verificação inicial, precisamos de alguns valores.
Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.


> Tópicos: <br />
Neste desafio você aprenderá:
- Média;
- Mediana;
- Moda;
- Desvio padrão.


Detalhes
A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset. O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo “submission.json”.

OBSERVAÇÃO: É recomendado utilizar Python e pandas para esse desafio, mas também é possível utilizar outras ferramentas e linguagens de programação.

Descrição dos dados: ‘id’: Identificador do cliente ‘sobrenome’: Sobrenome do cliente ‘pontuacao_credito’: Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente) ‘estado_residencia’: Estado de residência do cliente ‘genero’: Gênero do cliente ‘nivel_estabilidade’: Nível de estabilidade do cliente ‘saldo_conta’: Saldo disponível na conta do cliente ‘numero_produtos’: Número de produtos que o cliente consome ‘possui_cartao_de_credito’: Possui um cartão de crédito cadastrado ‘membro_ativo’: Membro acessa e consome frequentemente

Obs: Os dados são fictícios, mas tentam representar a realidade de uma base de clientes de um produto SaaS.

In [0]:
# Librarie
import pandas as pd
import numpy as np

In [0]:
# Import data
df = pd.read_csv('sample_data/desafio1.csv')

In [0]:
# Checking structure
df.head()

   RowNumber  ... membro_ativo
0          1  ...            1
1          2  ...            1
2          3  ...            0
3          4  ...            0
4          5  ...            1

[5 rows x 12 columns]

In [0]:
# Checking basic statistc
df['pontuacao_credito'].describe()

count    7000.000000
mean      649.787000
std        97.046279
min       350.000000
25%       582.000000
50%       651.000000
75%       717.000000
max       850.000000
Name: pontuacao_credito, dtype: float64

In [0]:
# Aggregating values to check basic statitcs
df_resultado = df.groupby('estado_residencia')['pontuacao_credito'].agg([pd.Series.mode,
                                                                         'median',
                                                                         'mean',
                                                                         'std']).T
df_resultado

estado_residencia          PR          RS          SC
mode               850.000000  850.000000  850.000000
median             650.000000  650.000000  653.000000
mean               648.961294  651.105143  649.537653
std                 98.607186   95.136598   97.233493

In [0]:
# Create list t
dic_index = {'mode':'moda',
             'median':'mediana',
             'mean':'media',
             'std':'desvio_padrao'}

In [0]:
# Rename index
df_resultado.rename(index=dic_index, inplace=True)

In [0]:
# Checking changes
df_resultado

estado_residencia          PR          RS          SC
moda               850.000000  850.000000  850.000000
mediana            650.000000  650.000000  653.000000
media              648.961294  651.105143  649.537653
desvio_padrao       98.607186   95.136598   97.233493

In [0]:
# Export data to Json
df_resultado.to_json('sample_data/submission.json')