
<h1><strong>AceleraDev Codenation - Semana 2</strong></h1>

<strong>*Daniel Santos Pereira | Data & B.I Analyst | Machine Learning in Training | MCP*</strong>


# **Manipulando Dados**

In [0]:
#Importação dos pacotes
import pandas as pd
import numpy as np

In [0]:
#Acessando o help dos pacotes
pd?

## **Dicionários**

In [0]:
#Criando um dicionário com os dados
dados = {'canal_vendas' : ['Facebook', 'twitter', 'intagram', 'linkedin', 'facebook'],
         'acessos': [100, 200, 300, 400, 500],
         'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
         'vendas': [1000.52, 1052.34, 2009, 5000, 300]}

In [3]:
#Para printar o dicionário
dados

{'acessos': [100, 200, 300, 400, 500],
 'canal_vendas': ['Facebook', 'twitter', 'intagram', 'linkedin', 'facebook'],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2009, 5000, 300]}

In [4]:
#verificando o tipo de dicionario
type(dados)

dict

In [5]:
#Acessando a chaves do meu dicionário
dados.keys()

dict_keys(['canal_vendas', 'acessos', 'site', 'vendas'])

In [6]:
#Acessando uma chave especifica * Lembrar que ele é case-sensitive
dados['canal_vendas']

['Facebook', 'twitter', 'intagram', 'linkedin', 'facebook']

In [7]:
#Acessando uma posição/valor especifíco de um dicionário
dados['canal_vendas'][2]

'intagram'

In [8]:
#Acessando uma posição especifica de um dicionário - slice
print('Retorna todos os elementos do array: '+
      str(dados['canal_vendas'][:]))

Retorna todos os elementos do array: ['Facebook', 'twitter', 'intagram', 'linkedin', 'facebook']

In [9]:
#Acessando uma posição especifica de um dicionário - slice
print('Retorna todos os elementos até a posição definida: '+
      str(dados['canal_vendas'][:4]))

Retorna todos os elementos até a posição definida: ['Facebook', 'twitter', 'intagram', 'linkedin']

In [10]:

#Acessando uma posição especifica de um dicionário - slice
#dados['canal_vendas'][:4] # Retorna todos os elementos até a posição definida
print('Retorna valor de acordo com o índice no array: '+
      str(dados['canal_vendas'][2:4]))

Retorna valor de acordo com o índice no array: ['intagram', 'linkedin']

## **Lista**

In [0]:
#Criando uma lista
lista = [200, 200, 300, 800, 300]

In [12]:
#Printando a lista
lista

[200, 200, 300, 800, 300]

In [13]:
#Vendo valores específicos - O array é iniciado no 0
lista[3]

800

In [14]:
#Fatia da lista (slice) -- A partir do índice 1, retorne até o quarto valor
lista[1:4]

[200, 300, 800]

In [0]:
#Adicionando a lista ao dicionário
dados['lista'] = lista

In [16]:
dados

{'acessos': [100, 200, 300, 400, 500],
 'canal_vendas': ['Facebook', 'twitter', 'intagram', 'linkedin', 'facebook'],
 'lista': [200, 200, 300, 800, 300],
 'site': ['site1', 'site1', 'site2', 'site2', 'site3'],
 'vendas': [1000.52, 1052.34, 2009, 5000, 300]}

## **DataFrames**

In [0]:
#Criar um data frame a partir de um dict
dataframe = pd.DataFrame(dados)

In [18]:
#Acessando o dataframe
dataframe

  canal_vendas  acessos   site   vendas  lista
0     Facebook      100  site1  1000.52    200
1      twitter      200  site1  1052.34    200
2     intagram      300  site2  2009.00    300
3     linkedin      400  site2  5000.00    800
4     facebook      500  site3   300.00    300

In [19]:
#Printando os primeiros casos do dataframe
dataframe.head(2)

  canal_vendas  acessos   site   vendas  lista
0     Facebook      100  site1  1000.52    200
1      twitter      200  site1  1052.34    200

In [20]:
#Verificando o formado do dataframe (total de linhas e colunas)
dataframe.shape

(5, 5)

In [21]:
#Verificando o índice do dataframe
dataframe.index

RangeIndex(start=0, stop=5, step=1)

In [22]:
#Verificando os tipos dos dados do dataframe
dataframe.dtypes

canal_vendas     object
acessos           int64
site             object
vendas          float64
lista             int64
dtype: object

In [23]:
#Verificando se existem valores faltantes
dataframe.isna()

   canal_vendas  acessos   site  vendas  lista
0         False    False  False   False  False
1         False    False  False   False  False
2         False    False  False   False  False
3         False    False  False   False  False
4         False    False  False   False  False

In [24]:
#Printando os nomes da colunas
dataframe.columns

Index(['canal_vendas', 'acessos', 'site', 'vendas', 'lista'], dtype='object')

In [25]:
#Acessando uma coluna especifica
dataframe['canal_vendas']

0    Facebook
1     twitter
2    intagram
3    linkedin
4    facebook
Name: canal_vendas, dtype: object

In [0]:
#Criação de uma nova coluna
dataframe['nova_coluna'] = [1, 2, 3, 4, 5]

In [27]:
dataframe

  canal_vendas  acessos   site   vendas  lista  nova_coluna
0     Facebook      100  site1  1000.52    200            1
1      twitter      200  site1  1052.34    200            2
2     intagram      300  site2  2009.00    300            3
3     linkedin      400  site2  5000.00    800            4
4     facebook      500  site3   300.00    300            5

In [28]:
dataframe.columns

Index(['canal_vendas', 'acessos', 'site', 'vendas', 'lista', 'nova_coluna'], dtype='object')

In [0]:
#Removendo colunas    -- sem a cláusula inplace = True,
                    # -- as colunas não são removidas, somente não aparecem mais
dataframe.drop(columns = ['nova_coluna'], inplace=True)

In [30]:
#Mostrondo as colunas
dataframe.columns

Index(['canal_vendas', 'acessos', 'site', 'vendas', 'lista'], dtype='object')

In [31]:
#Acessando valores especificos
dataframe['acessos'][1]

200

In [32]:
#Acessando fatia de coluna especifica
dataframe['canal_vendas'][:2]

0    Facebook
1     twitter
Name: canal_vendas, dtype: object

In [33]:
dataframe

  canal_vendas  acessos   site   vendas  lista
0     Facebook      100  site1  1000.52    200
1      twitter      200  site1  1052.34    200
2     intagram      300  site2  2009.00    300
3     linkedin      400  site2  5000.00    800
4     facebook      500  site3   300.00    300

In [34]:
#Fatiando os dados usando o iloc (linhas / colunas)
dataframe.iloc[3:,4:]

   lista
3    800
4    300

In [35]:
#Fatiar os dados usando o loc (indice)
dataframe.loc[:3]

  canal_vendas  acessos   site   vendas  lista
0     Facebook      100  site1  1000.52    200
1      twitter      200  site1  1052.34    200
2     intagram      300  site2  2009.00    300
3     linkedin      400  site2  5000.00    800

In [37]:
#Selecionando colunas especificas
dataframe[['canal_vendas','acessos']]

  canal_vendas  acessos
0     Facebook      100
1      twitter      200
2     intagram      300
3     linkedin      400
4     facebook      500

In [0]:
# Passando os valores atraves de listas
filtro = ['canal_vendas', 'acessos']

In [39]:
dataframe[filtro]

  canal_vendas  acessos
0     Facebook      100
1      twitter      200
2     intagram      300
3     linkedin      400
4     facebook      500

In [42]:
# Usando o metódo info()
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   canal_vendas  5 non-null      object
 1   acessos       5 non-null      int64
 2   site          5 non-null      object
 3   vendas        5 non-null      float64
 4   lista         5 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 328.0+ bytes

In [46]:
# Completando os valores faltantes usando fillna
# Pivotando os dados (coluna)
aux = dataframe.pivot(index= 'canal_vendas', columns='site', values='acessos').fillna(0)
dataframe.pivot(index= 'canal_vendas', columns='site', values='acessos').fillna(0)

site          site1  site2  site3
canal_vendas
Facebook      100.0    0.0    0.0
facebook        0.0    0.0  500.0
intagram        0.0  300.0    0.0
linkedin        0.0  400.0    0.0
twitter       200.0    0.0    0.0

In [45]:
# Mudando as colunas usando o comando melt
dataframe.melt(id_vars='site', value_vars=['canal_vendas'])

    site      variable     value
0  site1  canal_vendas  Facebook
1  site1  canal_vendas   twitter
2  site2  canal_vendas  intagram
3  site2  canal_vendas  linkedin
4  site3  canal_vendas  facebook

In [48]:
# Resetando o índice do dataframe
print(aux.columns)
aux = aux.reset_index()
print(aux.columns)

Index(['site1', 'site2', 'site3'], dtype='object', name='site')
Index(['canal_vendas', 'site1', 'site2', 'site3'], dtype='object', name='site')

In [49]:
# Exemplo do comando melt
aux.melt(id_vars='canal_vendas', value_vars=['site1','site2','site3'])

   canal_vendas   site  value
0      Facebook  site1  100.0
1      facebook  site1    0.0
2      intagram  site1    0.0
3      linkedin  site1    0.0
4       twitter  site1  200.0
5      Facebook  site2    0.0
6      facebook  site2    0.0
7      intagram  site2  300.0
8      linkedin  site2  400.0
9       twitter  site2    0.0
10     Facebook  site3    0.0
11     facebook  site3  500.0
12     intagram  site3    0.0
13     linkedin  site3    0.0
14      twitter  site3    0.0