## Desafio: Processamento de Dados com Python

> AceleraDev Codenation<br />
  Semana 3

<strong>*Daniel Santos Pereira | Data & B.I Analyst | Machine Learning in Training | MCP*</strong>

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

## _Set up_ da análise

In [0]:
import pandas as pd
import numpy as np

In [0]:
#black_friday = pd.read_csv("sample_data/black_friday.csv")
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [0]:
#Acessando os dados
black_friday.head(3)

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN   8370.0
1  1000001  P00248942      F  ...                6.0                14.0  15200.0
2  1000001  P00087842      F  ...                NaN                 NaN   1422.0

[3 rows x 12 columns]

In [0]:
black_friday.shape

(537577, 12)

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [0]:
def q1():
  
    # Retorne aqui o resultado da questão 1.
    n_observacoes = black_friday.shape[0]
    n_colunas = black_friday.shape[1]

    return (n_observacoes, n_colunas)
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [0]:
def q2():
    # Retorne aqui o resultado da questão 2.
    resultado = black_friday['Gender'][(black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35')].count()

    return int(resultado)
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [0]:
def q3():
    # Retorne aqui o resultado da questão 3.
    unique_users = black_friday['User_ID'].unique()
    
    return len(unique_users)
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [0]:
def q4():
    # Retorne aqui o resultado da questão 4.
    bf_dtypes_unique = black_friday.dtypes.unique()

    return len(bf_dtypes_unique) 
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [0]:
def q5():
    # Retorne aqui o resultado da questão 5.
    total_rows = black_friday.shape[0]
    dif_rows = total_rows - black_friday.dropna().shape[0]

    total_result = dif_rows / total_rows
    return total_result
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [0]:
def q6():
    # Retorne aqui o resultado da questão 6.
    values_nulls = black_friday.isnull().sum()

    return values_nulls.max()
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [0]:
def q7():
    # Retorne aqui o resultado da questão 7.
    more_value_frequency = black_friday.Product_Category_3.dropna().value_counts(sort=1)

    return more_value_frequency.idxmax()

    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [0]:
def q8():
    # Retorne aqui o resultado da questão 8.

    max_value = black_friday['Purchase'].max()
    min_value = black_friday['Purchase'].min()
    normalize_purchase = (black_friday['Purchase'] - min_value) / (max_value - min_value)
    mean = normalize_purchase.mean()
    return mean
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [0]:
def q9():
    # Retorne aqui o resultado da questão 9.
    max_value = black_friday['Purchase'].max()
    min_value = black_friday['Purchase'].min()
    normalize_purchase = (black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std()

    count = normalize_purchase.loc[ normalize_purchase >= -1 ].loc[ normalize_purchase <= 1 ]
    return len(count)
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [0]:
def q10():
    # Retorne aqui o resultado da questão 10.
    # Retorna os dados nulos
    first_null = black_friday.loc[ black_friday.isnull()['Product_Category_2'] == True] 
    
    # Procura linhas não nulas
    both_null = first_null.loc[ first_null.isnull()['Product_Category_3'] == False]

    if (both_null['User_ID'].count() == 0):
        isTrue = True 
    else: isTrue = False

    return isTrue
    pass